.list-social {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact-form {
  margin: 1em auto;
  padding: 1em 2em;
  box-shadow: calc(var(--font-size) / 2) calc(var(--font-size) / 2)
    var(--font-size) var(--box-shadow);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.contact-form-label {
  /* display: flex; */
  align-items: center;

  color: var(--text-primary);
}

/* Input reset */

#contact-form input,
#contact-form textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Styling the inputs */
#contact-form input:not([type='button']),
#contact-form textarea {
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
}
/* Styling the inputs */
#contact-form textarea {
  overflow-y: scroll;
  height: 5rem;
}

/* Styling the inputs on focus */
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  /* Need outline bottom */
  border-bottom: 2px solid var(--accent-color);
}

#contact-form #submit {
  margin: 0.5em auto;
  background: var(--accent-color);
  color: var(--text-primary);
  border: 1px solid var(--bg-secondary);
  border-radius: var(--border-radius);

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.5;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 0.15s ease;
}

#contact-form #submit:focus,
#contact-form #submit:hover,
#contact-form #submit:active {
  background-color: var(--accent-color-active);
}

#contact-form #submit:disabled {
  background-color: var(--grey3);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #contact-form {
    width: 100%;
  }

  .input-group {
    flex-direction: column;
  }

  .contact-form-label {
    margin: 1em 0 0.5em;
  }

  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  #contact-form {
  }
  .input-group {
    flex-direction: row;
    margin: 0.5em 0;
  }

  .contact-form-label {
    margin: auto 2em auto 0;
    min-width: 10ch;
  }
}
