main {
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width calc(var(--transition-speed) * 2) ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--bg-secondary);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: var(--nav-width);
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary);
  color: var(--text-secondary);
}

.nav-link svg {
  min-width: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
}

.icon {
  fill: var(--accent-color);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: var(--text-secondary);
}

/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: var(--nav-width);
  }
  .navbar {
    top: 0;
    width: var(--nav-width);
    height: 100vh;
  }

  .navbar:hover {
    width: var(--big-nav-width);
  }

  .navbar:hover .link-text {
    display: inline;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}
