.list-title {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin-top: 0;
}

.stacks {
  display: flex;
  gap: 1rem;
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .stacks {
    flex-direction: column;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .stacks {
    flex-direction: row;
  }
}

.stack {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: calc(var(--border-radius) * 4);
}

.stack-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stack-title > svg {
  margin-right: 1rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-gap: 2rem;
  list-style: none;
  padding: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
