:root {
  --skill-height: 1em;
}

.language {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* padding: 0; */
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  transition: width var(--transition-speed) ease;
}

.gauge {
  height: var(--skill-height);
  width: 80%;
  margin: 0 1em;
  background-color: var(--bg-secondary);
  border-radius: calc(var(--skill-height) / 2);
}

.gauge > div {
  height: var(--skill-height);
  border-radius: calc(var(--skill-height) / 2);
}
