:root {
  --skill-size: 4.5rem;
  --skill-inner-size: 4rem;
}

.language {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.skill {
  display: grid;
  place-items: center;
  height: var(--skill-size);
  width: var(--skill-size);
  border-radius: 50%;
  margin: 1em;
}

.skill-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--skill-inner-size);
  height: var(--skill-inner-size);
  border-radius: 50%;
  background-color: var(--bg-secondary);
}
