.light {
  --bg: var(--grey0);
  --bg-nav: linear-gradient(to right, var(--grey1), var(--grey2));
  --bg-header: linear-gradient(to right, var(--grey0), var(--grey1));
  --bg-dropdown: var(--grey2);
  --text: var(--grey5);
  --border-color: var(--blue3);
  --shadow: var(--grey4);
}
#light::before {
  background: var(--grey0);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --bg: var(--grey5);
    --bg-nav: linear-gradient(to right, var(--grey3), var(--grey4));
    --bg-header: linear-gradient(to right, var(--grey4), var(--grey5));
    --bg-dropdown: var(--grey3);
    --text: var(--grey0);
    --border-color: var(--blue1);
    --shadow: var(--grey5); /* TODO What value to use ?? */
  }
  .dark img {
    /* Images should appear slightly less bright and contrasted in dark mode */
    filter: brightness(0.8) contrast(1.2);
  }
  #dark::before {
    background: var(--grey4);
  }

  #logo {
    filter: grayscale(100%);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: var(--text);
  background: var(--bg);
}

@keyframes rainbow-animation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#logo:hover {
  animation: rainbow-animation 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
