@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Colors */
:root {
  --red1: hsl(304, 50%, 55%);
  --red2: hsl(0, 90%, 41%);
  --green1: hsl(79, 52%, 56%);
  --green2: hsl(136, 41%, 53%);
  --yellow0: hsl(15, 75%, 81%);
  --yellow1: hsl(25, 85%, 70%);
  --yellow2: hsl(45, 99%, 51%);
  --solar: hsl(35, 54%, 78%);
  --blue1: hsl(210, 100%, 74%);
  --blue2: hsl(210, 92%, 67%);
  --blue3: hsl(210, 84%, 59%);

  --grey0: hsl(0, 0%, 90%);
  --grey1: hsl(0, 0%, 75%);
  --grey2: hsl(0, 0%, 55%);
  --grey3: hsl(0, 0%, 35%);
  --grey4: hsl(0, 0%, 25%);
  --grey5: hsl(0, 0%, 15%);
  --grey6: hsl(0, 0%, 7%);
}

.light {
  --bg: var(--grey0);
  --bg-nav: linear-gradient(to right, var(--grey1), var(--grey2));
  --bg-header: linear-gradient(to right, var(--grey0), var(--grey1));
  --bg-dropdown: var(--grey2);
  --text: var(--grey5);
  --border-color: var(--blue3);
  --bg-solar: var(--solar);
  --shadow: var(--grey4);
}
#light::before {
  background: var(--grey0);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --bg: var(--grey5);
    --bg-nav: linear-gradient(to right, var(--grey3), var(--grey4));
    --bg-header: linear-gradient(to right, var(--grey4), var(--grey5));
    --bg-dropdown: var(--grey3);
    --text: var(--grey0);
    --border-color: var(--blue1);
    --bg-solar: var(--solar);
    --shadow: var(--grey5); /* TODO What value to use ?? */
  }
  .dark img {
    /* Images should appear slightly less bright and contrasted in dark mode */
    filter: brightness(0.8) contrast(1.2);
  }
  #dark::before {
    background: var(--grey4);
  }
}

#solar::before {
  background: var(--solar);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 400ms ease-in, color 800ms ease-in;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: currentColor;
  text-decoration: none;
}

@keyframes rainbow-animation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#logo {
  filter: grayscale(100%);
}

#logo:hover {
  animation: rainbow-animation 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
