/* Light theme colors */
.light {
  --bg-primary: var(--grey0);
  --bg-secondary: var(--grey1);
  --text-primary: var(--grey9);
  --text-secondary: var(--grey8);

  --box-shadow: var(--grey3);
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  .dark {
    --bg-primary: var(--grey7);
    --bg-secondary: var(--grey8);
    --text-primary: var(--grey1);
    --text-secondary: var(--grey0);

    --box-shadow: var(--grey4);
  }
  .dark img {
    /* Images should appear slightly less bright and contrasted in dark mode */
    filter: brightness(0.8) contrast(1.2);
  }

  #logo {
    filter: grayscale(100%);
  }
}

@keyframes rainbow-animation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#logo:hover {
  animation: rainbow-animation 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#theme-switch {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5em;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}
